body{
  margin: 0px;
  padding: 0px;
  background-color: wheat;
}


.sub-container {
  display: flex;
  text-align: center;
  /* / margin-top: 120px; / */
  bottom: 0;
  position: absolute;
  width: 100%;
  /* / gap: 2px; / */
}

.sub-container__main_heading {
  font-family: 'Outfit', sans-serif;
  font-size: 54px;
  line-height: 68px;
  font-weight: 500;
}
.sub-container__sub_heading {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.95);
}
.sub-container__description {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(51, 51, 51, 0.95);
  max-width: 900px;
  margin: 0 auto;
}

.sub-container__left {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.sub-container__left_section-one{
    background-color: red;
    width: 100%;
    height: 80%;
}

.sub-container__left_section-two{
     display: flex;
     flex-direction: row;
     background-color: wheat;
     height: 20%;
     width: 100%;
}

.sub-conatiner__left_section-two-container{
  display: flex;
  flex-direction: column;
  background:  white;
  width: 50%;
  height: auto;
  text-align: center;
}

.dashed_border{
  border-right: dashed;
  border-color: lightcoral;
}

.table{
  height: auto;
  margin: 0.5rem;
}

.table__row-one{
  height: 3rem;
}

.Add-ons{
  vertical-align: top;
  font-size: 17px;
}

.Add-ons-close{
  position: absolute;
  background: red;
}

.Add-ons-price{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.table-heading{
  font-size: 22px;
  font-weight: bold;
  width: 25%;
}

.table-description{
  font-size: 20px;
}

.td-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.button{
   width: 30px;
   background-color: blue;
}


.sub-container__right {
  flex-basis: 30%;
  background-color: white;
}

.sub-container__right__section-one{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sub-container__right__section-one--subheading-2{
  font-size: 10px;
}

.sub-container--subheading-2{
  font-size: 12px;
}


.button_under_sub-container{
  background-color: lightgray;
  height: 2rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 3px;
  border-radius: 5px;
}

.right-button{
    background-color: white;
    border: none;
    border-radius: 5px;
    flex-basis: 50%;
}

.button-tranparent{
  background: transparent;
  border: none;
}

.sub-container__right__feature-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.sub-container__right_section-two{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sub-container__input-box{
  width: 70%;
  height: 3rem;
}